.footer {
    height: 100vh;
    background-color: #FED0AD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__copyright {
    color: white;
    margin: 0;
	font-family: Basis Grotesque Pro;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
}















 









































