.dream__image {
    box-sizing: border-box;
	width: 100%;
	object-fit: cover;
}

@media screen and (min-width: 769px) {
    .dream__image {
		height: 100vh;
        
	}
}
@media screen and (min-width: 320px) and (max-width: 768px) {
	.dream__image {
		height: 50vh;
        
	}
}