.header__complaint-link {
	margin: 0;
	padding: 0;
	align-self: end;
	font-family: "Basis Grotesque Pro", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 17px;
	text-decoration: none;
	color: #000;
}

.header__complaint-link:hover {
	opacity: .6;
}



@media screen and (min-width: 320px) and (max-width: 640px) {
	.header__complaint-link {
		font-size: 16px;
		margin-left: 37px;
		margin-right: 25px;
	}
	
}