.footer__copyright {
    color: white;
    margin: 0;
	font-family: "Basis Grotesque Pro", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
}